/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 1024px) {
	.owl-buttons .owl-next{
	 	background: url("../images/next_arrow.png") 15% 50% no-repeat rgba(255,255,255,0.8);
	}
	.owl-buttons .owl-next:hover{
	 	cursor: pointer;
	 	background: url("../images/next_arrow.png") 15% 50% no-repeat rgba(255,255,255,0.4);
	}
	.content_item_inner,
	.content_item_inner1,
	.content_item_inner2{
		padding-right: 50px;
	}
	.slideshow_banner_inner{padding-left: 20px;}
}

@media only screen and (min-height: 901px) {
	#portfolio_slider .viewport{
		height: 486px;
	}
	#map_canvas{
		height: 500px;
	}
}
@media only screen and (max-height: 900px) {
	#portfolio_slider .viewport{
		height: 386px;
	}
	.content_item_inner,
	.content_item_inner1,
	.content_item_inner2{
		min-height: 330px;
		padding-bottom: 30px;
	}
	.contact_page .content_item_inner2{
		min-height: 270px;
	}
}

@media only screen and (max-height: 768px) {
	#portfolio_slider .viewport{
		height: 286px;
	}
	.content_img{
	 	position: relative;
	 }	
	 .downloads .content_item_inner{
	 	min-height: 232px;
	 }

}




@media only screen and (max-width: 995px) {
 body{min-width:768px;}

}

@media only screen and (max-width: 767px) {
 body{min-width:420px;}
 	body{
 		font-size: 20px;
 		line-height: 24px;
 	}
 	.global_wrap{
 		height: auto;
 	}
 	p{
 		margin-bottom: 20px;
 	}
 	.content_item_inner{
 		padding: 40px 49px;
 	}
 	.title1{
 		font-size: 24px;
 		line-height: 29px;
 		margin-bottom: 30px;
 	}
 	.open_nav_btns{
 		display: block;
 	}

 	.m_navigation{
	 	width: 100%;
	 	z-index: 99;
	 	bottom: 0;
	 	max-width: 100%;
	 	background: #fff;
	 	padding: 125px 0 0;
	 	-moz-transform: translateX(-100%) !important;
		-webkit-transform: translateX(-100%) !important;
		-o-transform: translateX(-100%) !important;
		-ms-transform: translateX(-100%) !important;
		transform: translateX(-100%) !important
		-webkit-transition: all 0.6s ease;
	    -moz-transition: all 0.9s ease;
	    -o-transition: all 0.9s ease;
	    transition: all 0.9s ease;
	 }
	 	.m_navigation.in{
		 	-moz-transform: translateX(0) !important;
			-webkit-transform: translateX(0) !important;
			-o-transform: translateX(0) !important;
			-ms-transform: translateX(0) !important;
			transform: translateX(0) !important

		 }
	 .nav_inner{
	 	padding: 0;
	 }

	 .menu_item{
	 	margin-bottom: 0;
	 	border-top: 1px solid #e1e1e1;
	 }
	 .menu_item a,
	 .menu_item.current a{
	 	display: block;
	 	font-size: 24px;
	 	line-height: 116px;
	 	height: 116px;
	 	padding-left: 95px;
	 	-moz-transform: translateX(0px);
		-webkit-transform: translateX(0px);
		-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px)
	 }
	 .menu_item a{
	 	color: #b7b7b7;
	 }
	 .menu_item.current a,
	 .menu_item a:hover{
	 	background-color: #efefef;
	 	color: #929292;
	 }
	 .menu_item.current a{
	 	font-weight: 400;
	 }

	 .lang_list{
	 	overflow: hidden;
	 	font-size: 24px;
	 	position: absolute;
	 	left: 0;
	 	top: 830px;
	 	width: 100%;
	 	border-top: 1px solid #e1e1e1;
	 }
	 	.lang_item{
	 		float: left;
	 		width: 33.3%;
	 	}
	 		.lang_item a{
	 			display: block;
	 			height: 116px;
	 			line-height: 116px;
	 			text-align: center;
	 		}
	 		.lang_item a:hover,
	 		.lang_item a.active{
	 			background-color: #ebebeb;
	 		}

	 #portfolio_slider,
	 .created_by{
	 	display: none;
	 }
	
	.nav_bottom{
		position: relative;
	}

	#content{
		padding: 0;
		margin: 0;
		overflow: auto;
	}

	.logo,
	.lang_list{
		float: none;
	}
	.logo{
		margin: 0 auto 118px;
		width: 240px;
	}
	.logo a{
		width: 240px;
		height: 85px;
		background: url("../images/resp_logo.png");
	}
}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
}